pandas
numpy
scipy
pyarrow
matplotlib
plotly
scikit-learn
imbalanced-learn
xgboost
lightgbm
shap
optuna
joblib
ucimlrepo
PyYAML
mlflow
fastapi
uvicorn[standard]
pydantic
streamlit
ipykernel
jupyter
pytest
pytest-cov
ruff
